{% extends "layout.html" %}
{% block content %}

    

    <div>
    	
    	<table>
		  <tr>
		    <th>Lesson ID</th>
		    <th>Domain</th>
		    <th>Title</th>
		    <th>Short desc.</th>
		    <th>Date added</th>
		    <th>Last pass</th>
		    <th>Next pass</th>
		    <th>Pass count</th>
		    <th>Activate</th>

		  </tr>

		  {% for lesson in lessons %}
		  <tr>
		    <th>{{ lesson.id }}</th>
		    <th>{{ lesson.domain }}</th>
		    <th>{{ lesson.title }}</th>
		    <th>{{ lesson.short_description }}</th>
		    <th>{{ lesson.creation_date }}</th>
		    <th>{{ lesson.last_pass_date }}</th>
		    <th>{{ lesson.next_pass_date }}</th>
		    <th>{{ lesson.pass_count }}</th>
		    <th><a href="{{ url_for('lesson_activate',lesson_id=lesson.id) }}">Activate again</a></th>
		  </tr>

		  {% endfor %}
		</table>

    	<div>

    		
    		
    		<a href="{{ url_for('application') }}">Go back</a>	



    	</div>


    </div>


{% endblock content %}